/* GLOBAL STYLES　----------------------------------- */
/* Padding below the footer and lighter body text */

body 												{
												      background: url(../img/bg.jpg) repeat 0 0;
												      color: #111111;
												      font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 
												      'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
												    }
												   
a													{ color: #0000ff;}
a:hover, a:focus, 									{ color: #0000ff; }

blockquote											{ border-left: 2px solid #ccc; }

/* NAVBAR -------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper 									{
												      position: absolute;
												      top: 0;
												      left: 0;
												      right: 0;
												      z-index: 10;
												      margin-top: 20px;
												      margin-bottom: -90px; 
/* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
												    }
.navbar-wrapper .navbar 							{  }
/* Remove border and change up box shadow for more contrast */

.navbar .navbar-inner 								{
												      border: 0;
												      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
												         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
												              box-shadow: 0 2px 10px rgba(0,0,0,.25);
												    }

/* Downsize the brand/project name a bit */
.navbar .brand 										{
												      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
												      font-size: 16px;
												      font-weight: bold;
												      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
												    }

.navbar .nav										{ float: right; }
.navbar .nav > li									{ line-height: 30px;}
/* Navbar links: increase padding for taller navbar */

.navbar .nav > li > a 								{ padding: 15px 20px; }

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar 								{ margin-top: 17px; }

/* CAROUSEL -------スライドショーだぜ！シンプルだぜ！----------------- */
/* Carousel base class */
.carousel 											{　margin-bottom: 60px;　}

.carousel .container 								{
												      position: relative;
												      z-index: 9;
												    }
.carousel-control 									{
												      height: 80px;
												      margin-top: 0;
												      font-size: 120px;
												      text-shadow: 0 1px 1px rgba(0,0,0,.4);
												      background-color: transparent;
												      border: 0;
												      z-index: 10;
												    }
.carousel .item 									{ height: 500px; }
.carousel img 										{
												      position: absolute;
												      top: 0;
												      left: 0;
												      min-width: 100%;
												      height: 500px;
												    }
.carousel-caption 									{
												      background-color: transparent;
												      position: static;
												      max-width: 550px;
												      padding: 0 20px;
												      margin-top: 200px;
												    }
.carousel-caption h1,
.carousel-caption .lead 							{
												      margin: 0;
												      line-height: 1.25;
												      color: #fff;
												      text-shadow: 0 1px 1px rgba(0,0,0,.4);
												    }
.carousel-caption .btn 								{ margin-top: 10px; }

/* スライドアニメーション　*/
.carousel .item 									{ 
														-webkit-transition: .7s ease-in-out opacity; 
														-moz-transition: .7s ease-in-out opacity; 
														-ms-transition: .7s ease-in-out opacity; 
														-o-transition: .7s ease-in-out opacity; 
														transition: .7s ease-in-out opacity; left: 0 !important; 
													}

.carousel .active.left, 
.carousel .active.right 							{ opacity: 0; z-index: 2; }



/* MARKETING CONTENT　（メインのキャッチ）---------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .span4 									{　 text-align: center;　}
.marketing h2 										{　font-weight: normal;　}
.marketing .span4 p 								{　 margin-left: 10px;　margin-right: 10px;　}

/* Featurettes　 （~tteは「小さい」という意味を表わす接尾辞）------------------------- */

.featurette-divider 								{ margin: 80px 0; 
/* Space out the Bootstrap <hr> more */
    												}
.featurette 										{
	/* Vertically center images part 1: add padding above and below text. */
      													padding-top: 120px; 
    /* Vertically center images part 2: clear their floats. */
												      overflow: hidden; 
												    }
.featurette-image 									{
	/* Vertically center images part 3: negative margin up 
	 * the image the same amount of the padding to center it. */
												      margin-top: -120px; 
												    }

/* Give some space on the sides of the floated elements so text doesn't run right into it. */

.featurette-image.pull-left 						{ margin-right: 40px; }
.featurette-image.pull-right 						{ margin-left: 40px; }

/* Thin out the marketing headings */
.featurette-heading 								{
												      font-size: 50px;
												      font-weight: 300;
												      line-height: 1;
												      letter-spacing: -1px;
												    }

/* トップページ　ニュース一覧　---------------------------- */
#newslist th										{
														border: 0;
														font-size: 80%;
														text-align: left;
														vertical-align: top;
														
													}
																	    
/* #お問い合わせフォーム　---------------------------- */
#form_success, #form_errors							{ display: none; }

input, textarea										{  
													    -moz-box-shadow:none;  
													    -webkit-box-shadow:none;  
													    -o-box-shadow:none;  
													    box-shadow:none;  
													}
													
#form_errors.visible, #form_success.visible 		{ display:block; } 

#req-field-desc 									{ font-style:italic;}

/* #パンくず　------------------------------------------ */
#breadcrumbs										{ list-style: none outside; margin-left: 0;}
#breadcrumbs li										{ float: left; margin-right: 15px; }
#breadcrumbs li .dropdown-menu li					{ width: 100%; }

/* #Some underlines & borders　---------------------------- */
#main_content h2, h1.page_title { 	
	border-top: 1px solid rgb(172, 183, 191);
	border-right: 1px solid rgb(172, 183, 191);
	border-bottom: 1px solid rgb(172, 183, 191);
	border-left: 6px solid rgba(27, 76, 155, 0.7);
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background-image: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
	background-image: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
	background-color: rgb(238,238,238); /* Old browsers */
	
	color: rgb(24, 40, 68);
	font-size: 18px;
	font-weight: 600;
	text-indent: 20px;
	padding: 3px 0 2px;
	margin-bottom: 24px;
	}
													
#footer												{ 	clear: both;
														margin: 0 0;
														width: 100%;
														position: relative;
														bottom: 0;
														background-color: rgba(64, 82, 114, 1);
														padding: 30px 0;
														color: #A0BEDA;	
													}
													
#footer a											{ color: #fff; }
#footer a:hover, #footer a:focus					{ color: #60A8E0; }
#footer .btn:hover,
#footer .btn:focus,
#footer .dropdown-menu li a 						{ color: rgb(53,106,160);}
#footer .dropdown-menu li a:hover,
#footer .dropdown-menu li a:focus					{ color: #fff; }
#footer .dropdown-menu > .active > a, 
#footer .dropdown-menu > .active > a:hover, 
#footer .dropdown-menu > .active > a:focus			{ background: none; color: rgb(53,106,160); }

/* CUSTOM BUTTON STYLES　---------------------------- */
.btn 												{
													  border: 1px solid #60A8E0;
													  color: #ffffff;
													  text-decoration: none;
													  text-shadow: none;
													  line-height: 1.6em;
													  -webkit-border-radius: 4px;
													  -moz-border-radius: 4px;
													  border-radius: 4px;
													  -webkit-box-shadow: none;
													  -moz-box-shadow: none;
													  box-shadow: none;
													  -webkit-backface-visibility: hidden;
													  background-color: rgb(79,133,187); /* Old browsers */
													 
background-image: -moz-linear-gradient(top,  rgba(79,133,187,1) 0%, rgba(64,82,114,1) 100%); /* FF3.6+ */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(79,133,187,1)), color-stop(100%,rgba(64,82,114,1))); /* Chrome,Safari4+ */
background-image: -webkit-linear-gradient(top,  rgba(79,133,187,1) 0%,rgba(64,82,114,1) 100%); /* Chrome10+,Safari5.1+ */
background-image: -o-linear-gradient(top,  rgba(79,133,187,1) 0%,rgba(64,82,114,1) 100%); /* Opera 11.10+ */
background-image: -ms-linear-gradient(top,  rgba(79,133,187,1) 0%,rgba(64,82,114,1) 100%); /* IE10+ */
background-image: linear-gradient(to bottom,  rgba(79,133,187,1) 0%,rgba(64,82,114,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f85bb', endColorstr='#405272',GradientType=0 ); /* IE6-8 */
													}
.btn:hover,
.btn:focus,
.btn-group:focus, .btn.dropdown-toggle 				{
													  color: #ffffff;
													  outline: none;
													  -webkit-transition: 0.55s ease;
													  -moz-transition: 0.55s ease;
													  -o-transition: 0.55s ease;
													  transition: 0.55s ease;
													  -webkit-backface-visibility: hidden;			
													  background-color: rgb(136,191,232); /* Old browsers */		
													  background-position: 0 0;					  
background-image: -moz-linear-gradient(top,  rgba(136,191,232,1) 0%, rgba(112,176,224,1) 100%); /* FF3.6+ */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(136,191,232,1)), color-stop(100%,rgba(112,176,224,1))); /* Chrome,Safari4+ */
background-image: -webkit-linear-gradient(top,  rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%); /* Chrome10+,Safari5.1+ */
background-image: -o-linear-gradient(top,  rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%); /* Opera 11.10+ */
background-image: -ms-linear-gradient(top,  rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%); /* IE10+ */
background-image: linear-gradient(to bottom,  rgba(136,191,232,1) 0%,rgba(112,176,224,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88bfe8', endColorstr='#70b0e0',GradientType=0 ); /* IE6-8 */
													}
													
.btn-group.open .btn.dropdown-toggle				{
													  background-color: #a1a6a9;
													  color: rgba(255, 255, 255, 0.75);
													  -webkit-box-shadow: none;
													  -moz-box-shadow: none;
													  box-shadow: none;
													}
.btn.disabled,
.btn[disabled] 										{
													  background-color: #98A5AD;
													  color: rgba(255, 255, 255, 0.75);
													  -webkit-box-shadow: none;
													  -moz-box-shadow: none;
													  box-shadow: none;
													  opacity: 0.7;
													  filter: alpha(opacity=70);
													}
.btn.btn-large 										{
													  font-size: 16.996px;
													  /* 17px */
													
													  line-height: 20px;
													  padding: 12px 18px 13px;
													}
			


/* ドミ　HACKS　--------------------------------------------- */
.media-heading										{ line-height: 20px; margin-bottom: 10px; text-indent: 20px; padding-bottom: 5px;}

#main_catch											{ 
														background: none; 
														color: #eee; 
														font-size: 11px;
														margin: 0 0;
														padding: 0 0;
														text-indent: 20px;
													}													

h1													{ font-size: 24px; }
h2													{ font-size: 22px; }
h3													{ font-size: 16px; }
h4													{ font-size: 13px; }
p													{ line-height: 1.6em; margin-bottom: 10px; }

.headline											{ line-height: 2.5em; background: url(../img/dotline.png) repeat-x 0 bottom; margin: 0 0 25px; }
													
.font300											{ font-size: 300%; }
.font250											{ font-size: 250%; }
.font200											{ font-size: 200%; }
.font150											{ font-size: 150%; }
.font120											{ font-size: 120%; }
.font90												{ font-size: 90%; }
.font80												{ font-size: 80%; }
.fontbold											{ font-weight: 600; }
.fontnormal											{ font-weight: normal;}

.text-indent										{ text-indent: 20px; }
.text-left											{ text-align: left; }
.lineheight150										{ line-height: 1.6em; }
.lineheight200										{ line-height: 2em; }

.text_shadow_b										{ text-shadow: 1px 1px 1px #111; }

img.mousehover:hover								{ 
														opacity: 0.6; 
														webkit-transition: 0.25s ease-out;
													  	-moz-transition: 0.25s ease-out;
													 	-o-transition: 0.25s ease-out;
													  	transition: 0.25s ease-out;
													  	-webkit-backface-visibility: hidden;			
													}

.margin_ver20										{ margin: 20px 0; }
.margin_ver10										{ margin: 10px 0; }
.margin_top_10										{ margin-top: 10px; }
.margin_top_20										{ margin-top: 20px; }
.margin_btm_10										{ margin-bottom: 10px; }
.margin_btm_20										{ margin-bottom: 20px; }
.margin_btm_30										{ margin-bottom: 30px; }
.margin_btm_40										{ margin-bottom: 40px; }
.padding_10											{ padding: 10px 10px; }
.padding_20											{ padding: 20px 20px; }
.padding_10_20										{ padding: 10px 20px; }

.margin_none										{ margin: 0 0; }
.padding_none										{ padding: 0 0; }
.border_none										{ border: 0 none; }

.vert_middle										{ vertical-align: middle; }
.vert_top											{ vertical-align: top; }
.vert_bottom										{ vertical-align: bottom; }

.my_col_purple										{ color: #4B5881; }
.my_col_yellow										{ color: #E5C660; }
.my_col_orange										{ color: #f06517; }
.my_col_brown										{ color: #C09853; } 
.my_col_blue										{ color: #3A87AD; }
.my_col_midblue										{ color: #0000FF; }
.my_col_lightblue									{ color: #a0beda; }
.my_col_grey										{ color: #596568; }
.my_col_red											{ color: rgb(186, 44, 56); }
.my_col_white										{ color: #fff; }
.my_col_black										{ color: #111; }
.my_col_green										{ color: #1CA555; }

.bk_brown											{ background: #C09853; } 
.bk_lightblue										{ background: #8EB2C5; }
.bk_blue											{ background: #3A87AD; }
.bk_grey											{ background: #999999; }
.bk_red												{ background: #E57B7B; }
.bk_lightpurple										{ background: #8D87AF; } 
.bk_black											{ background: #222; }


/* RESPONSIVE CSS　--------------------------------------------- */

@media (max-width: 979px) {

.container.navbar-wrapper							{ margin-bottom: 0; width: auto; }
.navbar-inner 										{ border-radius: 0; margin: -20px 0; }
.carousel .item 									{ height: 500px; }
.carousel img 										{ width: auto; height: 500px; }

.featurette 										{ height: auto; padding: 0; }
.featurette-image.pull-left,
.featurette-image.pull-right 						{
												        display: block;
												        float: none;
												        max-width: 40%;
												        margin: 0 auto 20px;
												    }
}

@media (max-width: 767px) {

.navbar-inner 										{ margin: -20px; }
.carousel 											{
												        margin-left: -20px;
												        margin-right: -20px;
												    }
.carousel .container 								{ }
.carousel .item 									{ height: 300px; }
.carousel img 										{ height: 300px; }
.carousel-caption 									{
												        width: 65%;
												        padding: 0 70px;
												        margin-top: 100px;
											      	}
.carousel-caption h1 								{ font-size: 30px; }
.carousel-caption .lead,
.carousel-caption .btn 								{ font-size: 18px; }

.marketing .span4 + .span4 							{ margin-top: 40px; }

.featurette-heading 								{ font-size: 30px; }
.featurette .lead 									{ font-size: 18px; line-height: 1.5; }
}