@charset "UTF-8";
/* CSS Document */
@import 'grid.css';

#left_column img, #right_column  img{
	max-width: 100%;
}

/* 1.0		HELPERS ::::::::::::::::::::::::::::::::::: */
.alpha 									{ margin-left: 0; }
.omega 									{ margin-right: 0; }

.font450								{ font-size: 450%; }
.font400								{ font-size: 400%; }
.font350								{ font-size: 350%; }
.font250								{ font-size: 250%; }
.font200								{ font-size: 200%; }
.font150								{ font-size: 150%; }
.font130								{ font-size: 130%; }
.font120								{ font-size: 120%; }
.font110								{ font-size: 110%; }
.font90									{ font-size: 90%; }
.font80									{ font-size: 80%; }

.fontbold								{ font-weight: 600; }
.fontnormal								{ font-weight: normal; }
.capitalizer							{ text-transform: capitalize; }
.uppercase								{ text-transform: uppercase; }

.vert_top								{ vertical-align: top; }
.center_text							{ text-align: center; }
.right_text								{ text-align: right; }
.left_text								{ text-align: left; }
.pos_absolute							{ position: absolute;}

.text_shadow_white						{ text-shadow: 1px 1px #fff; }


img.mousehover:hover,
a.mousehover img:hover					{
											opacity: 0.6;
											-webkit-transition: 0.25s ease-out;
											-moz-transition: 0.25s ease-out;
											-o-transition: 0.25s ease-out;
											transition: 0.25s ease-out;
											-webkit-backface-visibility: hidden;
										}

.my_col_blue							{ color: #002444; }
.my_col_black							{ color: #111; }
.my_col_red								{ color: #BA2C38; }
.my_col_white							{ color: #fff; }
.my_col_green							{ color: #1CA555; }

.margin_ver20							{ margin: 20px 0; }
.margin_ver10							{ margin: 10px 0; }
.margin_left20							{ margin-left: 20px;}
.margin_right20							{ margin-right: 20px;}
.margin_20_10							{ margin: 20px 10px; }
.margin_top_10							{ margin-top: 10px; }
.margin_top_20							{ margin-top: 20px; }
.margin_top_30							{ margin-top: 30px; }
.margin_top_100							{ margin-top: 100px; }
.margin_btm_10							{ margin-bottom: 10px; }
.margin_btm_20							{ margin-bottom: 20px; }
.margin_btm_30							{ margin-bottom: 30px; }
.margin_btm_40							{ margin-bottom: 40px; }
.padding_10								{ padding: 10px 10px; }
.padding_0_10							{ padding: 0 10px; }
.padding_20								{ padding: 20px 20px; }
.padding_10_20							{ padding: 10px 20px; }
.border_top_ccc							{ border-top: 1px solid #ccc; }

/* 2.0 		Custom Style :::::::::::::::::::::::::::::: */
p										{ font-size: 13px; color: #666; line-height: 1.75em;}
th										{ font-size: 12px; color: #666; line-height: 1.75em;}
td										{ font-size: 12px; color: #666; line-height: 1.75em;}
li										{ font-size: 12px; color: #666; line-height: 1.75em;}

/* CUSTOM GRID
 * -------------------------------------------------- */
.reseed_col_l_842						{ display: inline-block; width: 842px; float: left; }
.reseed_col_r_262						{ display: inline-block; width: 262px; margin-left: 30px; }

.reseed_col_l_406						{ display: inline-block; width: 406px; float: left; }
.reseed_col_r_406						{ display: inline-block; width: 406px; margin-left: 30px; }


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

#main_catch								{
											font-size: 11px;
											margin: 4px 0 0;
											padding: 0 0;
											line-height: 14px;
											white-space:nowrap;
											color:#ccc;
										}
.brand img								{ margin: 5px 0;}
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper 						{
											position: relative;
										  	z-index: 15;
										  	margin: 0 0;
										  	padding: 0 0 ;
										}
#top_header								{ height: 100px; background: #fff; border-bottom: 1px solid #eee; margin-bottom: 0; }
#top_header  .nav > li > a				{
											color: #666;
											font-weight: 600;
											background: #fff;
											font-size: 13px;
										}
#top_header .nav > li > a:hover,
#top_header .nav > li > a:focus 		{
										  text-decoration: underline;
										  color: #BA2C38;
										  background: #fff;										  
										  font-weight: 600;
										}
#top_header .nav > li.active > a,
#top_header .nav > li.active > a:hover,
#top_header .nav > li.active > a:focus {
											  color: #BA2C38;
											  cursor: default;
											  text-decoration: none;
											}
											
#top_header .nav > li > a:active{
	color: #BA2C38;
}

#top_header .nav > li > a.current, .dropdown-menu > li > a.current{
	color: #BA2C38;  
}


/* CUSTOMIZE THE CAROUSEL
 * ------------------------------------------------- */
#myCarousel								{ background-color: #ededed;}

/* Carousel base class */
/*.carousel 								{ margin-bottom: 60px; }*/

/* Since positioning the image, we need to help out the caption */
.carousel-caption 						{ z-index: 10; }

/* Declare heights because of positioning of img element */
.carousel .item 						{ height: 100%; max-height: 350px;}

.carousel-inner > .item > img 			{
										  position: relative;
										  top: 0;
										  left: 0;
										  width: 100%;
										  max-height: 350px;

										}

.headline 								{
											background: url('../images/bk_headline.jpg') repeat-x 0 0;
											height: 38px;
											font-size: 14px;
											color: #555;
											line-height: 38px;
											text-indent: 10px;
											font-weight: 600;
											margin: 0 0 20px 0;
										}
#news_table								{ font-size: 12px; color: #666; }
#news_table	td							{ padding: 0 0 12px 10px }

a.media_link, span.media_link			{ display: inline-block; background: #002444; color: #fff; padding: 3px 5px 1px 5px; font-size: 10px; margin-right: 10px;}

.my_label_orange						{ display: inline-block; width: 50px; background: #FF6633; padding: 0 1px 0 5px; color: #fff; font-size: 10px; }
.my_label_green							{ display: inline-block; width: 50px; background: #339966; padding: 0 1px 0 5px; color: #fff; font-size: 10px; }
.my_label_blue							{ display: inline-block; width: 50px; background: #006699; padding: 0 1px 0 5px; color: #fff; font-size: 10px; }

ul.top_list1							{ list-style: none ; margin: 0 0; padding: 0 10px;}
ul.top_list1 li							{
											line-height: 30px;
											background: #f0f0f0;
											margin: 0 0 10px;
											padding: 0 10px;
											border-left: 2px solid #002444;
											font-size: 12px;
											font-weight: bold;
										}

/* SIDEBAR ------------------------------------------ */
#side_tel								{ border-top: 1px solid #d4d4d4; padding-top: 10px; }
.side_tel								{ line-height: 32px; font-size: 32px; font-weight: bold; margin: 0 0; }
.side_tel a								{ color: #BA2C38; text-decoration: none; }
.side_tel:hover	a						{ opacity: 0.6;}


/* FOOTER ------------------------------------------ */
footer 									{
											background: url('../images/footer_bk.jpg') repeat-x 0 0 #f0f0f0;
											width: 100%;
											margin: 0 0;
											padding: 30px 0;
										}
.footer_line_ver						{
											background: url('../images/footer_line_ver.jpg') repeat-y right 0;
											min-height: 120px;
										}
.footer_bread a							{
											color: #666;
											font-weight: 600;
											font-size: 12px;
											line-height: 16px;
										}

.footer_bread a:hover,
.footer_bread a:focus					{
											text-decoration: underline;
										  	color: #BA2C38;
										}
.footer_bread a.active 					{ color: #BA2C38; }
.footer_bread a.current {
	color: #BA2C38;  
}

/* PAGE MAIN IMAGES --------------------------------- */
#main_img									{
												clear: both;
												width: 100%;
												background: url('../images/main_img_bk.jpg') repeat-x 0 0;
												position: relative;
												top: -5px;												
											}
#main_img img								{
												max-width: 100%;
												clear: both;
												display: block;
												margin: 0 auto;
												padding: 0 0;
											}
/* SUB HEADLINE--------------------------------------- */
.sub_headline								{
												line-height: 14px;
												font-size: 14px;
												font-weight: bold;
												color: #002444;
												background: #f0f0f0;
												margin: 0 0 20px;
												padding: 7px 10px;
												border-left: 2px solid #002444;
											}
.sub_headline_border						{
												border-bottom: 3px solid #F0F0F0;
												padding-bottom: 5px;
												font-size: 16px;
												font-weight: bold;
												color: #002444;
											}
/* CUSTOM LIST STYLE --------------------------- */
.custom_list								{
												list-style: none;

											}								
											
/* #お問い合わせフォーム　---------------------------- */
#form_success, #form_errors							{ display: none; }

input, textarea										{
													    -moz-box-shadow:none;
													    -webkit-box-shadow:none;
													    -o-box-shadow:none;
													    box-shadow:none;
													}

#form_errors.visible, #form_success.visible 		{ display:block; }

#req-field-desc 									{ font-style:italic;}

.contact-row{
	margin-bottom: 15px;
}
.contact-title{text-align: right;font-weight: bold;}
.contact-input{
	display: block;
	width: 100%;	
	padding: 6px 12px;
	font-size: 14px;	
	line-height: 1.428571429;
	color: #555555;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.contact-btn{margin-top: 15px;}
.wpcf7-confirm, .wpcf7-submit, .wpcf7-back{	
	width: 45%;
	color: #ffffff;
	background-color: #428bca;
	border: 1px solid #357ebd;	
	padding: 6px 12px;	  
	font-size: 14px;	
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;		  	
	border-radius: 4px;
}

.wpcf7-confirm:hover, .wpcf7-submit:hover, .wpcf7-back:hover{
	background-color: #3276b1;
	border: 1px solid #285e8e;
}
/* MAPS --------------------------------------------- */
#map_canvas1, #map_canvas2, #map_canvas3							{ height: 200px; width: 100%; border: 1px solid #999; margin: 10px 0; }

.wrapper{margin-top: 40px;}


/* RESPONSIVE CSS ----------------------------------- */

@media (max-width: 960px) {
	#top_header 					{ height: 65px; }

	.reseed_col_l_842,
	.reseed_col_r_262,
	.reseed_col_l_406,
	.reseed_col_r_406						{ position: relative; width: 100%; float: left; margin: 0 0 20px; padding: 0 0; }
	.carousel .item 						{ height: 100%; background-color: #EDEDED; height: 100%;}	
}

@media (min-width: 768px) {
  /* Navbar positioning foo */
  #top_header 						{ height: 88px; }

  /* The navbar becomes detached from the top, so we round the corners */
  #top_header .navbar 				{}

}

@media screen and (min-device-width:320px) and (max-device-width:561px){
	.container							{ padding: 0 0 0 15px }
	#top_header 						{ height: auto;}
	.headline 							{
											background: #F0F0F0;
											color: #555;
											height: auto;
											font-size: 13px;
											line-height: 18px;
											text-indent: 0;
											padding: 5px 10px;
											font-weight: 600;
											margin-top: 0;
											margin-bottom: 20px;
										}
	.reseed_col_l_842					{ display: inline-block; width: 100%; }
	.reseed_col_r_262					{ display: inline-block; width: 100%; margin: 0 0;}

	.reseed_col_l_406					{ display: inline-block; width: 100%; }
	.reseed_col_r_406					{ display: inline-block; width: 100%; margin: 0 0; }

	#right_column img					{ margin: 0 0 20px; width: 100%; }	
	.padding_0_10						{ padding: 0 0;}

	#ceo_img							{ clear: both; width: 100%;}
	img.staff_thumbnails				{ margin: 0 0 15px; width: 100%;}
	img.service_thumbnails				{ clear: both; margin: 0 0 15px; }
}

@media only screen and (max-width: 768px){	
	footer 								{ padding: 10px 0; background: #f0f0f0; border-top: #ccc 1px solid; height: auto;}
	.footer_line_ver					{ background: url('../images/footer_line_ver.jpg') repeat-y right 0; }
	.footer_bread a						{
											color: #666;
											font-weight: 600;
											font-size: 12px;
											line-height: 16px;
										}
	#footer_block1, #footer_block2		{ margin-bottom: 20px; text-align: center; }
	.footer_line_ver					{ background: none; height: auto; }
	address								{ margin: 0 0;}
	.wrapper{margin-top: 20px;}
	.contact-title{text-align: left;}
	.contact-btn{margin-left: 0; margin-top: 0;}
	.wpcf7-confirm, .wpcf7-submit, .wpcf7-back{width: 100%;}	
}


@media only screen and (min-width: 768px) and (max-width: 991px){
	.col-sm-first{
		width: 30% !important;
		float: left;
	}
	.col-sm-second{
		width: 28% !important;
		float: left;
		padding-left: 3px;		
	}
	.col-sm-third{
		width: 18% !important;
		float: left;
		padding-left: 25px;		
	}	
	
	.col-sm-fourth{
		width: 24% !important;		
		float: left;
	}
	.top-contact{margin: 20px 0 !important;}	
	img.top-img{width: 48% !important;}
	.top-h2{font-size: 12px !important;}
	.side_tel{font-size: 30px !important;}
}
	
@media only screen and (max-width: 580px){
	.top-job{margin-top: 10px !important; margin-left: 0 !important;}
	.top-link{display: block !important;}		
}

@media only screen and (max-width: 570px){	
	.align-pc{text-align: center;}
}


/*事務所移転のお知らせ*/
.infomation {
	padding:20px;
	width:802px;
	border:1px #ccc solid;
}

.info_text {
	font-size:20px;
	font-weight:bold;
}
.info_day {
	font-size:16px;
}
.info_day2 {
	font-size:16px;
	font-weight:bold;
}

p.saiyo img { width: 100%; }

.saiyou {
	border:#428BCA solid 1px;
	background-color:#fcfcfc;
	padding:10px 10px 15px 10px;
}
.ml20 {
	margin-left:15px;
}
.ml10 {
	margin-left:10px;
}
.mr20 {
	margin-right:20px;
}
.mb20 {
	margin-bottom:20px;
}
.mb10 {
	margin-bottom:10px;
}
.saiyou  ul {
	padding:0px;
}
.saiyou li {
	list-style-type:none;
	float:left;
}
.right {
	float:right;
}
.left {
	float:left;
}
.saiyou_text {
	color:#428BCA;
	font-size:14px;
	font-weight:bold;
}

.saiyou_text1 {
	color:#428BCA;
	font-size:18px;
	font-weight:bold;
}

/* part blog*/
.sideBlog .sideBlog-title {
  color: #BA2C38;
  font-size: 16px;
  line-height: 30px;
  border-bottom: 2px solid #BA2C38;
  margin-bottom: 10px; }
.sideBlog ul {
  padding: 0px;
  margin: 0 0 0 10px;
  list-style: none; }
.sideBlog ul li a{
	color: #555;
}  
.sideBlog ul li a:hover {
	color: #BA2C38;
} 
#category1 {
    margin-top: 20px; }
.blog-title {
    color: #462B1D;
    line-height: 45px;
    padding-left: 12px;
    background-color: #F2F0EA;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold; }
.post-row-content {
    margin-top: 20px; }
.post-row-content .blog-btnrm {
      float: right;
      padding: 3px 8px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      background-color: #f67a12; }
.post-row-content .blog-btnrm a {
        color: white; }
.post-row-content .blog-btnrm a:hover {
        opacity: 0.5; }
.post-row-content .post-row-meta .fa {
      padding: 0 5px 0 20px; }
.post-row-content .post-row-meta .fa:first-child {
      padding-right: 5px;
      padding-left: 0; }
.post-row-content .post-row-meta .blog-catelogy a, .post-row-content .post-row-meta .blog-author {
      color: #BA2C38; }
.post-row-content .post-row-meta .blog-catelogy a:hover {
      }
.post-row-content .post-row-description {
      margin-top: 10px; }
.post-row-content .blog-content {
      margin-top: 10px; }
.navigation {
    margin-top: 20px; }
.navigation .single-blog-l a {
      float: left;
      font-weight: bold; }
.navigation .single-blog-r a {
      float: right;
      font-weight: bold; }
.navigation .single-blog-l a:hover, .navigation single-blog-r a:hover {
      color: #f67a12; }
.wp-pagenavi {
    margin-top: 40px;
    text-align: center; }
.wp-pagenavi .pages, .wp-pagenavi .previouspostslink, .wp-pagenavi .page, .wp-pagenavi .nextpostslink {
      background-color: #f67a12;
      color: #fff; }
.wp-pagenavi span.current {
      border-color: #f67a12 !important; }  